/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/style.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
/* Hide the scrollbar but still allow scrolling */
.scroll-container {
    overflow-y: scroll; /* Allow vertical scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 0px;  /* Hide scrollbar in Webkit browsers */
    background: transparent;  /* Optional: Make the background transparent */
  }
  
